
.register-card{
    width:300;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%)
}
.msg{
  color:red
}

.left-nva{
  width:10%;
  float:left;
  height: 100%;
  margin-right: 0;
}
.right-content{
  margin-top: 0;
  width:90%;
  float:right;
  height:100%;
}

.MessageRow{
  margin-top: 2em;
}
